<div class="cardinfo-item">
    @* todo image bisa di-zoom *@
    <img src="@payload.ImgPath" />
    <br />
    <span class="cardinfo-item-title">@payload.Title</span><br />
    <span class="cardinfo-item-caption">@payload.Caption</span><br />
    <div class="d-flex cardinfo-buttons justify-content-center">
        <a class="w-100" href="@payload.ButtonPrimaryLink"><button class="w-100">@payload.ButtonPrimaryName</button></a>
        <a class="w-100" href="@payload.ButtonSecondaryLink"><button class="w-100">@payload.ButtonSecondaryName</button></a>
    </div>
</div>
