@page "/"
@using shiennymendeline.github.io.Models
@using shiennymendeline.github.io.Components


@if (MyProfile != null)
{
    <section id="profile">

        <div class="container-maxvh profile-container d-flex justify-content-center align-items-center">
            <div class="profile-sub-container d-flex justify-content-center align-items-center">
                <div class="profile-img flex-shrink-0">
                    <img src="images/profiles/@MyProfile.Profile.ProfileImg" />
                </div>
                <div class="profile-info flex-grow-1">
                    <h1><i>@MyProfile.Profile.Greeting1,</i> <span class="profile-highlight">@MyProfile.Profile.Greeting2</span></h1>
                    <img class="profile-mark" src="images/circle-dark.png" />
                    <div class="profile-desc">
                        @* As a <span>Full Stack Developer</span> with expertise in <span>C# and .NET</span>, I am a <span>fast learner</span> who focuses on creating <span>clean, reusable code</span> and building <span>parameterized solutions</span> that improve system flexibility and maintainability *@
                        @((MarkupString)MyProfile.Profile.Summary)
                    </div>
                    <div class="profile-buttons d-flex justify-content-center align-items-center">

                        @foreach (var link in MyProfile.Profile.Links)
                        {
                            <MudLink Class="btn" Href="@link.Link">@link.LinkName</MudLink>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#aboutme">@MyProfile.Profile.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="aboutme">
        <div class="container-maxvh aboutme-container d-flex justify-content-center align-items-center">
            <div class="aboutme-sub-container d-flex justify-content-center align-items-center">
                <div class="aboutme-info flex-grow-1">
                    <h1 class="aboutme-title">@MyProfile.Aboutme.Title</h1>
                    <img class="aboutme-mark" src="images/circle-dark.png" />
                    <div class="d-flex aboutme-highlight justify-content-center">

                        @foreach (var h in MyProfile.Aboutme.highlights)
                        {
                            <BoxHighlight Title="@h.Title" Caption="@h.Caption" IconImg="@h.IconImg" Class="@h.CssClass" />
                        }
                    </div>
                    <div class="aboutme-desc">
                        @MyProfile.Aboutme.Description
                    </div>
                </div>
                <div class="aboutme-img flex-shrink-0">
                    <img src="images/profiles/@MyProfile.Aboutme.AboutmeImg" />
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#skills">@MyProfile.Aboutme.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="skills">
        <div class="container-maxvh">
            <h1 class="skills-title">@MyProfile.Skill.Title</h1>
            <img class="skills-doodle" src="images/doodle.png" />
            <br />
            <MudChipSet T="bool" Class="skills-chips d-flex justify-content-center">
                @foreach (var cat in MyProfile.Skill.Categories)
                {
                    <MudChip T="bool" Class="@(cat.IsSelected ? "chip-info chip-info-checked" : "chip-info")"
                             Variant="Variant.Filled"
                             Selected="@cat.IsSelected">
                        <MudCheckBox Value="cat.IsSelected"
                                     T="bool" Label="@cat.Name" ValueChanged="@(value => OnCheckboxChanged(cat.Id, value))" />
                    </MudChip>
                }
            </MudChipSet>
            <InputGroupButton @ref="IgbSearchSkill"
                              Placeholder="@MyProfile.Skill.PlaceholderSearch"
                              ButtonText="@MyProfile.Skill.TextSearch"
                              OnClickButtonEvent="SetupSkillItems" />
            <div class="skills-results">
                <div class="d-flex flex-wrap justify-content-center w-100">
                    @foreach (var s in SkillItems)
                    {
                        <BoxInfoSimple Name="@s.Name" Caption="@s.Level" ImgPath="@($"images/icon/{s.IconImg}")" />
                    }
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#projects">@MyProfile.Skill.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="projects">
        <div class="container-maxvh">
            <div class="projects-header">
                <h1 class="projects-title">@MyProfile.Project.Title</h1>
                <p>@MyProfile.Project.Caption</p>
                <img class="projects-doodle" src="images/lines.png" />
            </div>
            <div class="my-ims">
                <div class="d-flex flex-row-reverse flex-grow-1 gap-4">
                    <div class="my-ims-container">
                        <MudSelect T="string" MultiSelection="true" SelectAll="true" SelectAllText="@MyProfile.Project.SelectAllText"
                                   Variant="Variant.Outlined" Margin="Margin.Dense"
                                   MultiSelectionTextFunc="GetSelectedProjectSkillText"
                                   SelectedValues="Options"
                                   SelectedValuesChanged="SearchProjects"
                                   AnchorOrigin="Origin.BottomCenter"
                                   AdornmentIcon="@Icons.Material.Filled.FilterAlt">
                            @foreach (var item in MyProfile.Skill.Items)
                            {
                                <MudSelectItem T="string" Value="@item.Name">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </div>
            </div>
            <div class="projects-result">
                <div class="d-flex flex-wrap justify-content-center w-100">
                    @foreach (var p in projects)
                    {
                        <CardInfo payload="@p" HighlightTags="Options" ActiveTags="ActiveOptions" />
                    }
                </div>
            </div>
            <div class="projects-info">
                <MudChip Class="carlito-default" Color="Color.Info" T="string" Size="Size.Small">@MyProfile.Project.InfoChipHighlight.Name</MudChip> @MyProfile.Project.InfoChipHighlight.Caption
                <br />
                <MudChip Class="carlito-default" Color="Color.Dark" T="string" Size="Size.Small">@MyProfile.Project.InfoChipActive.Name</MudChip> @MyProfile.Project.InfoChipActive.Caption
                <br />
                <MudChip Class="carlito-default" Color="Color.Default" T="string" Size="Size.Small">@MyProfile.Project.InfoChipDefault.Name</MudChip> @MyProfile.Project.InfoChipDefault.Caption
            </div>
        </div>
        <div class="gotolink">
            <a href="#contactme">Get in Touch</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="contactme" class="bg-brown">
        <div class="contactme-container d-flex justify-content-center">
            <div class="contactme-subcontainer">
                <div class="contactme-header">
                    <h1 class="contactme-title">Let’s connect if you’re interested in working together.</h1>
                    <img src="images/circle-light.png" />
                </div>
                <hr />
                @{
                    var widthItem = 100 / MyProfile.Contactme.Contacts.Count;
                }
                <div class="d-flex justify-center contactme-group">
                    @foreach (var item in MyProfile.Contactme.Contacts)
                    {
                        <div class="contactme-item" style="@($"width: {widthItem}%")">
                            <div class="contactme-frame">
                                <img src="@item.IconImg" />
                            </div>
                            @if (string.IsNullOrEmpty(item.SecondaryImg))
                            {
                                <div>
                                    <span class="contactme-item-name">@item.Header</span><br />
                                    <span class="contactme-item-info"><a href="@item.Link">@item.LinkName</a></span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span class="contactme-item-name">@item.Header</span><br />
                                    <div class="d-flex">
                                        <div id="secondaryImgFrame">
                                            <img src="images/id-flag.png" id="secondaryImg" alt="Description" title="@item.SecondaryImgAlt" />
                                        </div>
                                        <span class="contactme-item-info"><a href="@item.Link">@item.LinkName</a></span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="bg-brown">
            <a href="#profile" id="backToTop">
                <img src="images/back-to-top.png" width="50px" />
            </a>
        </div>
    </section>
    <div class="footer bg-brown">Copyright © 2025 Shienny Hadi. All Rights Reserved.</div>
}