@page "/"
@using shiennymendeline.github.io.Models
@using shiennymendeline.github.io.Components
@using shiennymendeline.github.io.Utils


@if (MyProfile != null)
{
    <section id="profile">

        <div class="container-maxvh profile-container d-flex justify-content-center align-items-center">
            <div class="profile-sub-container d-flex justify-content-center align-items-center">
                <div class="profile-img flex-shrink-0">
                    <img src="images/profiles/@MyProfile.Profile.ProfileImg" />
                </div>
                <div class="profile-info flex-grow-1 ms-3">
                    <h1><i>@MyProfile.Profile.Greeting1,</i> <span class="profile-highlight">@MyProfile.Profile.Greeting2!</span></h1>
                    <img class="profile-mark" src="images/circle-dark.png" />
                    <div class="profile-desc">
                        @* As a <span>Full Stack Developer</span> with expertise in <span>C# and .NET</span>, I am a <span>fast learner</span> who focuses on creating <span>clean, reusable code</span> and building <span>parameterized solutions</span> that improve system flexibility and maintainability *@
                        @((MarkupString)MyProfile.Profile.Summary)
                    </div>
                    <div class="profile-buttons d-flex justify-content-center align-items-center">

                        @foreach (var link in MyProfile.Profile.Links)
                        {
                            <MudLink Class="btn" Href="@link.Link">@link.LinkName</MudLink>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="gotolink">
            <a href="#aboutme">@MyProfile.Profile.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="aboutme">
        <div class="container-maxvh aboutme-container d-flex justify-content-center align-items-center">
            <div class="aboutme-sub-container d-flex justify-content-center align-items-center">
                <div class="aboutme-info flex-grow-1 ms-3">
                    <h1 class="aboutme-title">@MyProfile.Aboutme.Title</h1>
                    <img class="aboutme-mark" src="images/circle-dark.png" />
                    <div class="d-flex justify-content-center">

                        @foreach (var h in MyProfile.Aboutme.highlights)
                        {
                            <BoxHighlight Title="@h.Title" Caption="@h.Caption" IconImg="@h.IconImg" Class="@h.CssClass" />
                        }
                    </div>
                    <div class="aboutme-desc">
                        @MyProfile.Aboutme.Description
                    </div>
                </div>
                <div class="aboutme-img flex-shrink-0">
                    <img src="images/profiles/@MyProfile.Aboutme.AboutmeImg" />
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#skills">@MyProfile.Aboutme.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="skills">
        <div class="container-maxvh">
            <h1 class="skills-title">@MyProfile.Skill.Title</h1>
            <img class="skills-doodle" src="images/doodle.png" />
            <br />
            <MudChipSet T="bool" Class="skills-chips d-flex justify-content-center">
                @foreach (var cat in MyProfile.Skill.Categories)
                {
                    <MudChip T="bool" Class="@(cat.IsSelected ? "chip-info chip-info-checked" : "chip-info")"
                             Variant="Variant.Filled"
                             Selected="@cat.IsSelected">
                        <MudCheckBox Value="cat.IsSelected"
                                     T="bool" Label="@cat.Name" ValueChanged="@(value => OnCheckboxChanged(cat.Id, value))" />
                    </MudChip>
                }
            </MudChipSet>
            <InputGroupButton @ref="IgbSearchSkill" 
                              Placeholder="@MyProfile.Skill.PlaceholderSearch"
                              ButtonText="@MyProfile.Skill.TextSearch"
                              OnClickButtonEvent="SetupSkillItems" />
            <div class="skills-results">
                <div class="d-flex flex-wrap justify-content-center w-100">
                    @foreach (var s in SkillItems)
                    {
                        <BoxInfoSimple Name="@s.Name" Caption="@s.Level" ImgPath="@($"images/icon/{s.IconImg}")" />
                    }
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#projects">@MyProfile.Skill.GotoLink</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="projects">
        <div class="container-maxvh">
            <div class="projects-header">
                <h1 class="projects-title">@MyProfile.Project.Title</h1>
                <p>@MyProfile.Project.Caption</p>
                <img class="projects-doodle" src="images/lines.png" />
            </div>
            <br />
            @* todo *@
            @* <select>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="net">NET</option>
        <option value="csharp">C#</option>
        </select> *@
            <MudSelect T="string" MultiSelection="true" SelectAll="true" SelectAllText="@MyProfile.Project.SelecAllText"
                       HelperText="@value" @bind-Value="value" @bind-SelectedValues="options"
                       MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionText))"
                       Label="Felines" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var feline in felines)
                {
                    <MudSelectItem T="string" Value="@feline">@feline</MudSelectItem>
                }
            </MudSelect>
            <div class="projects-result">
                <div class="d-flex flex-wrap justify-content-center w-100">
                    @foreach (var p in projects)
                    {
                        <CardInfo payload="@p" />
                    }
                </div>
            </div>
        </div>
        <div class="gotolink">
            <a href="#contactme">Get in Touch</a><br />
            <img src="images/arrow-down.gif" width="32px" />
        </div>
    </section>
    <section id="contactme" class="bg-brown">
        <div class="contactme-container d-flex justify-content-center">
            <div class="contactme-subcontainer">
                <div class="contactme-header">
                    <h1 class="contactme-title">Let’s connect if you’re interested in working together.</h1>
                    <img src="images/circle-light.png" />
                </div>
                <hr />
                <div class="d-flex contactme-group">
                    <div class="contactme-item">
                        <div class="contactme-frame">
                            <img src="images/linkedin.png" />
                        </div>
                        <div>
                            <span class="contactme-item-name">LINKEDIN</span><br />
                            <span class="contactme-item-info"><a href="https://www.linkedin.com/in/shiennyhadi/">Shienny Hadi</a></span>
                        </div>
                    </div>
                    <div class="contactme-item">
                        <div class="contactme-frame">
                            <img src="images/email.png" />
                        </div>
                        <div>
                            <span class="contactme-item-name">EMAIL</span><br />
                            <span class="contactme-item-info">
                                <a href="mailto:shiennymendeline97@gmail.com?body=Hello,%20Shienny%20Hadi">shiennymendeline97@gmail.com</a>
                            </span>
                        </div>
                    </div>
                    <div class="contactme-item">
                        <div class="contactme-frame">
                            <img src="images/phone.png" />
                        </div>
                        <div>
                            <span class="contactme-item-name">PHONE</span><br />
                            <div class="d-flex">
                                <div id="callCountryFrame">
                                    <img src="images/id-flag.png" id="callCountry" alt="Description" title="Indonesia" />
                                </div>
                                <span class="contactme-item-info"><a href="https://wa.me/+6281330251997">(+62) 813-3025-1997</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-brown">
            <a href="#profile" id="backToTop">
                <img src="images/back-to-top.png" width="50px" />
            </a>
        </div>
    </section>
    <div class="footer bg-brown">Copyright © 2025 Shienny Hadi. All Rights Reserved.</div>
}